* {
    font-size:11pt;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/**:root > * {
/**    --md-code-bg-color: rgb(60, 60, 60); /* Fondo oscuro para el código */
/**    --md-code-hl-name-color: rgb(244, 62, 213); /* Color para nombres de funciones o variables */
/**    --md-code-hl-operator-color: rgb(224, 202, 255); /* Color para operadores */
/**    --md-code-hl-punctuation-color: rgb(129, 218, 247);  /*Color para signos de puntuación */
/**    --md-code-hl-comment-color: rgb(0, 167, 69); /*Color para comentarios */
/**    --md-code-hl-generic-color: rgb(44, 118, 255);  /*Color genérico */
/**    --md-code-hl-variable-color: rgb(255, 62, 213); /*Color para variables */
/** }**/
 

h1 {
    font-weight: 400 !important;
    margin-bottom: 30px  !important;
    padding: 5px !important;
    text-align:center;
    color:#00137c !important;
    border-bottom: 2px dotted blue; 
    border-top: 2px dotted blue;
}

[data-md-color-scheme="slate"] .md-nav__link--active {
    color: white;
}

[data-md-color-scheme="slate"] .md-nav__link:hover {
    color: rgb(255, 94, 255);
}

[data-md-color-scheme="slate"] h1{
    font-weight: 400 !important;
    margin-bottom: 30px  !important;
    padding: 5px !important;
    text-align:center;
    color:#ffffff !important;
    border-bottom: 2px dotted rgb(255, 255, 255);
    border-top: 2px dotted rgb(255, 255, 255);
}

h2 {
    border-bottom: 1px dotted #4051b5 !important;
    color: #4051b5;
    margin-top: 0px !important;
    padding-top: 0px !important;
}

[data-md-color-scheme="slate"] h2 {
    border-bottom: 1px dotted #ffffff !important;
    color: #ffffff;
    margin-top: 0px !important;
    padding-top: 0px !important;
}

h3 {
    color: #4051b5;
    border-bottom: 1px dotted #4051b5;
}

[data-md-color-scheme="slate"] h3 {
    color: #ffffff;
    border-bottom: 1px dotted #ffffff;
}

h4 {
    color: #4051b5;
    border-bottom: 1px dotted #4051b5;
}

[data-md-color-scheme="slate"] h4 {
    color: #ffffff;
    border-bottom: 1px dotted #ffffff;
}

p { 
    text-align: justify;
}

p img {
    display: block;
    margin: 20px 20px;
    margin-bottom:30px;
}

blockquote {
    border: 1px solid #bbccff;
    padding-right:20px;
    border-left: 6px solid #8a9cff !important;
    /*background-color:lemonchiffon;*/
    
}

[data-md-color-scheme="slate"] strong {
    color:rgb(255, 255, 255);
    /**color: rgb(255, 159, 255);**/
}

blockquote p {
    color:#314197;
}

blockquote strong {
    color:rgb(90, 90, 90);
}

strong {
    color:#5264c8;
}

ul li {
    text-align:justify;

}

th {
    background-color:#6a7ad4;
    color:white;
    font-weight: bolder;
}

[data-md-color-scheme="slate"] th {
    background-color:#1d1d1d;
    color:white;
    font-weight: bolder;
}

.act {
    font-size:smaller;
    border: 1px solid rgb(97, 115, 204);
    padding:25px;

    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    background-color:antiquewhite;
}

.act strong {
    font-weight: bolder;
    text-decoration: underline;
    margin-bottom:20px;
}

.md-nav .md-nav--secondary {
    padding:5px;
    margin:8px;
}

.md-typeset .admonition.code,  .md-typeset details.code {
    border-color: rgb(66, 66, 66);
  }

  .md-typeset .code > .admonition-title,  .md-typeset .code > summary {
    background-color: rgba(0, 0, 0, 0.20);
    color:rgb(255, 255, 255);
    /*color: black;*/
  }
  .md-typeset .code > .admonition-title::before, variables
  .md-typeset .code > summary::before {
    /*background-color: rgb(43, 155, 70);*/
    background-color: rgb(0, 158, 0);
    /*background-color:#ff00c8;*/
    background-color:rgba(102, 255, 0, 0.699);

    -webkit-mask-image: var(--md-admonition-icon--code);
            mask-image: var(--md-admonition-icon--code);
  }

  pre {
    overflow: none;
  }